@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

html {
  background: rgb(217, 194, 235);
  background: linear-gradient(
    150deg,
    rgba(217, 194, 235, 1) 18%,
    rgba(231, 222, 192, 1) 63%,
    rgba(255, 226, 254, 1) 100%
  );
  font-family: "Ubuntu", sans-serif;
  height: 100%;
}

h1 {
  display: flex;
  justify-content: center;
}

body {
  height: 90%;
  //overflow-y: hidden;
}

#root {
  height: 100%;
}

#app {
  height: 100%;
}
.container {
  height: 85%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 15% 80% 5%;
  grid-template-areas:
    " sidebar header header sidebar"
    " sidebar main main sidebar"
    " footer footer footer footer";
}

.leftSideBar {
  grid-area: sidebar;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

.rightSideBar {
  height: 100%;
  grid-area: sidebar;
  //background-color: red;
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -webkit-box-shadow: 15px 11px 75px 10px #000000;
  -moz-box-shadow: 15px 11px 75px 10px #000000;
  box-shadow: 15px 11px 75px 10px #000000;
}

::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
::-webkit-scrollbar-thumb {
  background: radial-gradient(circle, #f0cfa8 30%, #edc0ed 66%);
  border: 0.2px solid #948c8c;
  border-radius: 22px;
}
::-webkit-scrollbar-thumb:hover {
  background: radial-gradient(circle, #fff1e0 18%, #e092e0 77%);
}
::-webkit-scrollbar-track {
  background: #edced3;
  border-radius: 10px;
  box-shadow: inset 0px 0px 0px 0px #000000;
}

.mainContent {
  grid-area: main;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.headerBox {
  grid-area: header;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.footer {
  grid-area: footer;
  grid-column-start: 1;
  grid-row-start: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#outlined-basic {
  align-self: center;
}

.searchResultList {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  overflow-y: auto;
}

#searchBarDiv {
  display: flex;
  justify-content: center;
}

#search-bar {
  width: 40%;
}

.movie-div {
  padding: 10px;
  height: 450px;
}

p {
  padding-bottom: 2px;
}

.rightSideBarContent {
  overflow-y: auto;
  height: 85%;
}

.appDesc {
  display: flex;
  justify-content: center;
}

h3 {
  text-align: center;
}

.logo {
  margin: auto;
  display: block;
}
